[tenantId]
<tenant-guid>

[subscriptionIds]
/subscriptions/<subId1>
/subscriptions/<subId2>

[resourcegroups]
/subscriptions/<subid>/resourceGroups/Demo1-RG
/subscriptions/<subid>/resourceGroups/Demo2-RG

[tags]
env=~prod
application=~demoapp1
